{% extends "todos_app/base.html" %}

{% block title %} Create TODO {% endblock %}


{% block header %}Create TODOs{% endblock %}

{% block content %}

<div class="d-flex flex-column mb-3">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="description"><strong>Description: </strong></label>
      <input name="description" type="text" class="form-control" maxlength="160" required id="description">
    </div>
    <div class="form-group">
      <label for="due"><strong>Due: </strong></label>
      <input name="due" type="text" class="form-control" maxlength="32" required id="due">
    </div>
    <div class="form-group">
      <label for="accomplished"><strong>Accomplished in %: </strong></label>
      <input name="accomplished" type="number" class="form-control" value="0" min="0" max="100" required id="accomplished">
    </div>
    <button type="submit" class="btn btn-dark">Create</button>
  </form>
</div>

{% endblock %}